#titleScreen{
	position: absolute;
	width: 600px;
	height: 400px;


}
#bg, #title{
	position: absolute;


}
#bg{
	z-index: 1;
	
	
}
#title{
	z-index: 2;
}
body{
	background-color: #000000;
}

#gameWindow{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: 400px;
	background-color: black;

	overflow: hidden;
}

#pacman{
	position: absolute;
}

.flip-horizontal{
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
	-ms-filter: fliph; 	/*IE*/
	filter: fliph; 		/*IE*/
}

.rotate90{
	transform:rotate(90deg);
    behavior:url(-ms-transform.htc);	/* Firefox */
    -moz-transform:rotate(90deg);		/* Safari and Chrome */
    -webkit-transform:rotate(90deg);	/* Opera */
    -o-transform:rotate(90deg);			/* IE9 */
    -ms-transform:rotate(90deg);		/* IE6,IE7 */
}

.rotate270{
	transform:rotate(270deg);
    behavior:url(-ms-transform.htc);
    -moz-transform:rotate(270deg);
    -webkit-transform:rotate(270deg);
    -o-transform:rotate(270deg);
    -ms-transform:rotate(270deg);
}

.wall{
	position: absolute;
	background-color: #254AB8;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 2px solid #000000;
}

.dot{
	position: absolute;
	background-color: #FFAD33;
	border-radius: 0px;
	border: 2px solid #000000;
	z-index: 10;
}
